/* Galeri Horizontal */
.gallery-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}

.gallery-item {
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.gallery-item img {
    width: 250px; /* Set ukuran gambar */
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-item:hover img {
    transform: scale(1.1);
}

h2{
    text-align: center;
}
p{

     text-align: center;
}